.header {
    display: flex;
    justify-content: space-between;
    .logo {
        display: flex;
        width: 100%;
        img {
        width: 100%;
        max-width: 130px;
        }
    }
    .menu_icons {
        img {
            cursor: pointer;
            width: 100%;
            max-width: 24px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.25rem;
    }
}

@media screen and (min-width:600px) {

    .logo {
        justify-content: center;
        align-items: center;
        
    }

}